<h2>Magazine list</h2>
<ul>
    {{#each magazineList}}
        <li>
            Magazine nr {{this.number}}.
            <select>
                <option value="">brak </option>
                {{#each ../tiresList}}
                <option value="{{this.id}}" {{#if (equals this.id  ../tireId)}}selected="selected"{{/if}}>
                    {{this.name}}
                </option>
                {{/each}}
            </select>
        </li>
    {{/each}}
</ul>

<h2>Add magazine to list</h2>
<form action="/magazine" method="POST">
    <label>Magazine number (nr)<input type="number" name="number"></label>
    <button>Add</button>
</form>