<h2>Magazine list</h2>
<ul>
    {{#each magazineList}}
        <li>
            <form action="/magazine/tire/{{this.id}}?_method=patch" method="post">
                    Magazine nr {{this.number}}.
                        <select name="tireId">
                            <option value="">Empty</option>
                            {{#each ../tiresList}}
                                <option value="{{this.id}}" {{#if (equals this.id  ../tireId)}}selected="selected"{{/if}}>
                                    {{this.name}}
                                </option>
                            {{/each}}
                        </select>
                <button>Save</button>
            </form>
        </li>
    {{/each}}
</ul>

<h2>Add magazine to list</h2>
<form action="/magazine" method="POST">
    <label>Magazine number (nr)<input type="number" name="number"></label>
    <button>Add</button>
</form>